# Ignore the built release distribution files
dist
# Ignore generated versions of these files
cray-product-catalog/sat.yaml
docker/index.yaml
manifests/sat.yaml
helm/index.yaml
rpm/*/index.yaml
install.sh
ansible/roles/sat-ncn/defaults/main.yml
cray-product-catalog/sat-component-versions.yaml
iuf-product-manifest.yaml
# skopeo-sync function creates this file during release.sh
docker/orig-index.yaml
